.contact_section {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 65px;
}
.contact_section h1 {
  font-size: 44px;
  font-weight: 700;
  max-width: 80%;
}
.contact_section p {
  font-weight: 400;
}
